<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Display products</title>

<style>
    div.one {
          padding: 30px;
            }
    p.lead {
          text-align:center;
          font-size: 30px;
            }

    div.side_pane{

        padding: 30px;
    }

    div.input-group{
        padding-left:40px;
    }

    div.search_button{
        padding-left: 50px;

    }

</style>
</head>


<body>

    <div class="container">
        <div class="container-fluid one bg-info text-white">
            <div class="row">
                <div class="col-sm">
                   <p class= 'lead'> Review Scrapper </p>
                </div>
            </div>
        </div>
    </div>



  <div class="container">
     <div class="container-fluid one">
        <div class="row">
            <div class="col-5">
                 {% for product in models %}

                    <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">

                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{ product['product'].replace(' ','') }}" aria-expanded="false" aria-controls="collapseOne">

                                    {{ product['product'] }}

                                </button>
                              </h2>
                            </div>

                              <div id="{{ product['product'].replace(' ','') }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                      {% for model in product['comments'].keys() %}
                                        <li style="list-style: none"><a href="/display/{{model}}">
                                            {{ model }}
                                        </a></li>
                                      {% endfor %}
                                  </div>
                              </div>
                         </div>
                    </div>
                 {% endfor %}
            </div>


           <div class="col side_pane">
               <div class="right_pane">
                   <p class="text-justify">
                       If you don't find the product you are looking for, kindly use the search to find the
                       reviews.
                   </p>
               </div>

               <div class="row side_pane">
                  <form action='/scrapper' method = "post">
                         <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">I am looking for</span>
                              </div>
                              <input type="text" class="form-control" name = 'prod' placeholder="item name" aria-label="item" aria-describedby="basic-addon1">
                         </div>

                         <div class="search_button text-left">
                            <button type="submit" class="btn btn-primary"> search </button>
                        </div>

                  </form>
               </div>
           </div>


        </div>
     </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>